SITE_URL=http://localhost:5174
GOOGLE_CLIENT_ID=GOOGLE_AUTH_API_KEY
GOOGLE_CLIENT_SECRET=GOOGLE_AUTH_CLIENT_SECRET
JWT_SECRET=PROVISORY_JWT_SECRET
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=database-name
API_URL=http://localhost:3000